<div id="submission">
  <form action="/lecturers" method="post">
    <% inputs = {
        name: "Preferred Name",
        email: "Email",
        password: "Password",
        password_confirmation: "Confirm Password"
      }
    %>

    <%= render(partial: "/partials/form_group_inputs", locals: { inputs: inputs }) %>
  </form>

  <button id="create-account-button" class="btn btn-default fit create-account-button">Create Account</button>
</div>

<div id="confirmation">
  <h4 class="center">Error</h4>

  <p id="create-modal-message" class="modal-message"></p>

  <div id="back" class="close-modal">
    <button class="btn btn-default fit">Okay</button>
  </div>
</div>