<div id="heading-2">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <span class="center" style="cursor:default">
        <h1 style="font-size:30px;">Course: <%= @course.name %></h1>
      </span>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>