<div class="header">
    <h4>Are you a lecturer?</h4>
</div>

<div class="contents">
    <form class="two-item" action="login" method="post">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password">
    </div>
    <div class="form-group">
        <button id="lecturer-login" class="btn big-btn btn-inverse login-button fit">Login</button>
    </div>
    </form>
    <div class="account-creation">
    <span>or <b class="link" data-toggle="modal" data-target="#create-account-modal">click here to create an account</b></span>
    </div>
</div>