<nav class="navbar navbar-fixed-top container-fluid">
  <% if defined? @course %>
    <form class="leave-class" method="get" action="<%= defined?(@lecturer) ? url_for(@lecturer) : "/" %>">
      <button action="submit" class="btn btn-default fa fa-arrow-left"> Leave Class</button>
    </form>
  <% end %>

  <a class="navbar-brand" href="/index.html"><h4 style="font-size:50px; padding-top:10px;"> Classroom Friend </h4></a>

  <% if defined?(@lecturer) %>
  <form class="logout" method="post" action="/lecturers/logout">
    <button type="submit" class="btn btn-default fa fa-power-off"> Logout</button>
  </form>
  <% end %>
</nav>