<nav class="navbar navbar-fixed-top" style="background-color: none !important; padding-bottom: 15px">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li>
      	 <a href="/index.html">
      	 	<div class="btn btn-inverse fit pull-left" style="font-size: 30px; padding-top: 10px; padding-bottom: 10px; padding-right: 10px; opacity: 0.5">
      	 		<i class="icon-arrow-left"></i> Leave Class
      	 	</div>
      	 </a>
      </li>
    </ul>
    <ul class="nav navbar-nav">
    	<a class="navbar-brand center" href="/index.html"><h4 style="font-size:50px; padding-top:10px"> Classroom Friend </h4></a>
    </ul>
    <ul class="nav navbar-nav">
      <li>
      	 <a href="/index.html">
      	 	<div class="btn btn-inverse fit pull-right" style="font-size: 30px; padding-top: 10px; padding-bottom: 10px; padding-right: 10px; opacity: 0.5">
      	 		<i class="icon-power-off"></i> Logout
      	 	</div>
      	 </a>
      </li>
    </ul>
  </div>
</nav>