<div id="poll-modal" modal-backdrop="static" class="modal fade" role="dialog" style="overflow-y: hidden !important;">
  <div class="modal-dialog fit" style="padding-top:30px">
    <div class="modal-content" style="overflow:hidden !important; height: auto; padding-top: 80px; padding-bottom: 80px; padding-left: 50px;">
        <div class="row" style="padding-left:10px; padding-right:10px; padding-top:20px">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <div class="separator-md"></div>
            <div id="poll-body">
              <% if Poll.where(course: @course.id, active: true).count > 0 %>
                <%= render partial: '/polls/student_poll', locals: { poll: Poll.where(course: @course.id, active: true).last } %>
              <% end %>
            </div>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
  </div>
</div>