<h2 class="header center"><%=poll.question%></h2>

<div id="responses" class="content">
  <div class="custom-panel">
    <span class="header center">Select a response:</span>

    <div class="content">
      <% poll.options.order(:number).each_with_index do |option, index| %>
        <% if student.poll_responses.any?{|pr| pr.option==option } %>
          <%= link_to(option.value, "/polls/#{option.poll.id}/options/#{option.id}", method: :post, remote: true, class: "btn btn-success response-button") %>
        <% else %>
          <%= link_to(option.value, "/polls/#{option.poll.id}/options/#{option.id}", method: :post, remote: true, class: "btn btn-default response-button") %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div id="change-response" class="content change-response">
  <div class="custom-panel">
    <h4 class="header center">Your response has been submitted. Waiting for other students' votes</h4>
    
    <div class="content">
      <button id="change-response-button" class="btn big-btn btn-default">Change Response</button>
    </div>
  </div>
</div>