<nav class="navbar navbar-fixed-top" style="background-color: none !important; padding-bottom: 15px">
  <div class="container-fluid row">
    <div class="col-md-3">
      <a href="#{url_for @course}/lecturer_course_page">
        <div class="btn btn-inverse fit" style="font-size: 30px; padding-top: 10px; padding-bottom: 10px; padding-right: 10px; opacity: 0.5">
          <i class="icon-arrow-left"></i> Back
        </div>
      </a>
    </div>
    <div class="col-md-6 center">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <a class="navbar-brand" href="/index.html"><h4 style="font-size:50px; padding-top:10px;"> Classroom Friend </h4></a>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</nav>

<%= render '/partials/heading2' %>

<script>
  var optionCount = 2;

  function addOption(){
    if(optionCount < 5){
      if(optionCount==2)
        $("#remove-option").removeClass("disabled");
      $("#poll-form-container").append($('<div class="separator-sm"></div>'));
      optionCount += 1;   
      var e = '<div id="option' + optionCount + '" class="row"><div class="col-md-1"><span>Option ' + optionCount + '</span></div><div class="col-md-11 med-line"><input id="opt' + optionCount + '" name="opt' + optionCount + '" type="textarea" class="form-control" placeholder="Type an answer for the poll here" maxlength="30"/></div></div>'
      $("#poll-form-container").append($(e));
      if(optionCount==5)
        $("#add-option").addClass("disabled");

    }
  }

  function removeOption(){
    if(optionCount > 2){
      if(optionCount==5)
        $("#add-option").removeClass("disabled");
      $("#poll-form-container separator-sm").last().remove();
      $("#option" + optionCount).remove();
      optionCount -= 1;
      if(optionCount==2)
        $("#remove-option").addClass("disabled");
    }
  }

  $(document).on("click", "#add-option", addOption);
  $(document).on("click", "#remove-option", removeOption);

</script>

<div class="row"><div class="col-md-12"><span>Question</span></div></div>
<div class="separator-sm"></div>

<form id="poll-form" action="begin_poll" method="post">
  <div id="poll-form-container" class="form-group custom-bar" style="overflow-y: auto; overflow-x: hidden; height: 380px; padding-left: 15px">
    <div class="row">
      <div class="col-md-12 big-line"><input id="question" name="question" type="textarea" class="form-control" placeholder="Type your question for the poll here"/></div>
    </div>

    <div class="separator-sm"></div>

    <div id="option1" class="row">
      <div class="col-md-1"><span>Option 1</span></div>
      <div class="col-md-11 med-line"><input id="opt1" name="opt1" type="textarea" class="form-control" placeholder="Type an answer for the poll here" maxlength="30"/></div>
    </div>

    <div class="separator-sm"></div>

    <div id="option2" class="row">
      <div class="col-md-1"><span>Option 2</span></div>
      <div class="col-md-11 med-line"><input id="opt2" name="opt2" type="textarea" class="form-control" placeholder="Type an answer for the poll here" maxlength="30"/></div>
    </div>

  </div>
</form>

<div class="row">
  <div class="col-md-4 big-line"><div id="add-option" class="btn btn-primary big-btn fit">Add Option</div></div>
  <div class="col-md-4 big-line"><div id="remove-option" class="btn btn-danger big-btn fit disabled">Remove Option</div></div>
  <div class="col-md-4 big-line"><button id="start-polling-button" class="btn btn-inverse fit big-btn"><span>Initiate Polling</span></div>
  </div>

  <%= render '/partials/message_modal', header: "Error" %>