<%= render partial: '/partials/nav_bar', locals: { is_poll: true } %>
<h1 class="course-name">Course: <%= @course.name %></h1>

<%= javascript_tag "room_name = \"#{@course.name}\"" %>

<div class="row"><div class="col-md-12"><span>Question</span></div></div>

<form id="poll-form" class="poll-form" action="begin_poll" method="post">
  <input id="question" class="poll-question" name="question" type="textarea" class="form-control" placeholder="Type your question for the poll here"/>
  
  <div id="poll-options" class="poll-options"></div>
</form>

<div class="poll-buttons">
  <div id="add-option" class="btn btn-primary big-btn">Add Option</div>
  <div id="remove-option" class="btn btn-danger disabled big-btn">Remove Option</div>
  <div id="start-polling-button" class="btn btn-default big-btn">Initiate Polling</div>
</div>

<%= render '/partials/message_modal', header: "Error" %>