<div id="poll-question" class="custom-panel">
  <h2 class="header center"><%= question %> </h2>

  <div class="content">
    <div class="chart">
      <%= column_chart data %>
    </div>

    <div class="close-modal">
      <button class="btn btn-default fit" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>