<div id="q<%=question.id%>" class="question-item">
  <% question_type = (!lecturer.nil? && lecturer.id == course.lecturer.id) ? "/courses/lecturer_question" : "/courses/student_question" %> 
  
  <%= render(partial: question_type, locals: {course: course, question: question, student: student }) %>
</div>