<%= render '/partials/nav_bar', leave_class_href: "/lecturers/#{course.lecturer.id}", logout_href: '/lecturers/logout' %>
<%= render '/partials/heading2', course: course.name %>

<%= javascript_tag "room_name = \"#{course.name}\"" %>

<div id="questions-container" class="row custom-bar">
  <div class="col-md-1"></div>

  <div id="questions" class="col-md-10">
    <h1 id="no-questions"> No questions available </h1>

    <% course.questions.order("upvotes DESC, downvotes ASC").where("flagged < #{Question::FLAG_THRESHOLD}").each do |question| %>
    <%= render 'prof_questions', question: question %>
    <% end %>
  </div>

  <div class="col-md-1"></div>
</div>

<div class="separator-md"></div>

<div id="poll-button" class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 big-line"><a href="poll_class.html"><div class="btn btn-inverse fit big-btn">Poll Class</div></a></div>
  <div class="col-md-4"></div>
</div>
