<%= render '/partials/nav_bar', leave_class_href: "/lecturers/#{course.lecturer.id}", logout_href: '/lecturers/logout' %>
<%= render '/partials/heading2', course: course.name %>

<%= javascript_tag "room_name = \"#{course.name}\"" %>

<div id="questions-container" class="row custom-bar" style="overflow-y: auto; overflow-x: hidden; height: 380px">
  <div class="col-md-1"></div>
  <div id="questions" class="col-md-10" style="padding-left: 20px; padding-top: 10px; padding-bottom: 10px;">

    <div class="separator-md"></div>

    <div id="no-quest" <% if course.questions.where("flagged < #{Question::FLAG_THRESHOLD}").count!=0 %>style="display:none;"<% end %>>
      <h1 class="no-quest center"> No questions available </h1>
      <div class="no-quest separator-md"></div>
    </div>

    <% course.questions.order("upvotes DESC, downvotes ASC").where("flagged < #{Question::FLAG_THRESHOLD}").each do |question| %>
    <%= render 'prof_questions', question: question %>
    <% end %>

  </div>
  <div class="col-md-1"></div>
</div>

<div class="separator-md"></div>

<div id="poll-button" class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 big-line"><a href="poll_class.html"><div class="btn btn-inverse fit big-btn">Poll Class</div></a></div>
  <div class="col-md-4"></div>
</div>
