.course-name {
	font-size: 30px;
	cursor: default;
	text-align: center;
}

.student-questions .question-status {
	margin-left: 20px;
}

.questions-container {
	overflow-x: hidden;
	overflow-y: auto;
	height: 60vh;

	.question-item {
		background: #8c8c8c;
	  box-shadow: 3px 3px 3px grey; 
	  border-radius: 5px;
		cursor: default;
		padding: 2%;
		margin-bottom: 10px;
		height: 90px;

		grid-gap: 0 1%;

		a {
			font-size: 20px;
			margin: 5px;
		}

		span {
			word-wrap: break-word;
		}

		.question-text {
			font-size: 20px;
		}

		&.no-questions {
			display: none;
		}

		&.no-questions:only-child {
			display: block;
			text-align: center;
		}

		&:last-of-type {
			margin-bottom: none;
		}
	}
}

.course-page-form {
	grid-gap: 0 2%;

	input {
		height: 70px;
	}
}