.lecturer-login .contents{

  input {
    height: 70px;
  }

  button{
    margin-top: 24px;
  }

  .account-creation {
    span {
      float: right;
    }
  }
}

.form-group label {
  color: white;
}

.course-selection {
  div.awesomplete {
    grid-column: input;
  }

  form {
    height: 70px;
  }
}