.lecturer-login .contents{
  button{
    margin-top: 24px;
  }

  .account-creation {
    span {
      float: right;
    }
  }
}

.course-selection {
  div.awesomplete {
    grid-column: input;
  }
}