.custom-container {
	display: grid;
	grid-gap: 10% 5%;
	grid-template-rows: repeat(auto-fill, 50vh);
}

.lecturer-profile {
	.lecturer-classes {
		height: 50vh;
	}

	.create-class form {
		display: grid;
		grid-template-columns: [input] 8fr [button] 4fr;
		grid-gap: 2% 2%;

		input {
			grid-column: input;
		}

		button {
			grid-column: button;
		}
	}
}

.custom-panel {
	display: grid;
	grid-gap: 1% 1%;
	grid-template-rows: [header] 1fr [contents] 11fr;

	.header {
		grid-row: header;
	}

	.contents {
		grid-row: contents;
	}
}

.list {
	height: 40vh;

	display: grid;
  grid-template-columns: repeat(auto-fill, 20vh);
  grid-gap: 0 5%;
  justify-content: center;

	.grid-item{
		display: flex;
		grid-column: span 1;

		&.empty-grid {
			display: none;
		}

		&:only-child {
			display: block
		}
	}
}