.navbar.container-fluid {
  padding-bottom: 15px;

  display: grid;
  grid-template-columns: [leave-class] 3fr [website-header] 6fr [logout] 3fr;
  text-align: center;

  .leave-class{
    grid-column: leave-class;
  }

  .navbar-brand{
    grid-column: website-header;

    h4{
      font-size: 50px; 
      padding-top: 10px;
    }
  }

  .logout{
    grid-column: logout;
  }

  form button{
    height: 100%;
    width: 100%;
  }
}