.poll-form {
  display: grid;
  grid-template-rows: [poll-question] 1fr [poll-options] 10fr [poll-buttons] 1fr;
  grid-gap: 3% 3%;

  .poll-question {
    grid-row: poll-question;
    height: 70px;
  }

  .poll-options {
    grid-row: poll-options;

    display: grid;
    grid-template-columns: 1fr;

    .poll-option {
      display: grid;
      grid-template-columns: [poll-option-label] 1fr [poll-option-input] 11fr;
      height: 50px;

      span {
        grid-column: poll-option-label;
      }

      input {
        grid-column: poll-option-input;
      }
    }
  }
}

.poll-buttons {
  grid-row: poll-buttons;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3% 3%;

  .div {
    grid-column: span 1;
  }
}

.poll-modal {
  display: grid;
  grid-template-rows: [left-margin] 1fr [poll] 8fr [right-margin] 1fr;

  .modal-body {
    grid-row: poll;
  }
}

.change-response {
  display: none;

  .content {
    display: grid;
    grid-template-columns: [left-margin] 1fr [button] 2fr [right-margin] 1fr;

    button {
      grid-column: button;
    }
  }
}

.end-poll-container {
  display: grid;
  grid-template-columns: [left-margin] 1fr [end-poll] 2fr [right-margin] 1fr;

  .end-poll {
    grid-column: end-poll;
  }
}

.response-counter {
  display: grid;
  grid-template-columns: [left-margin] 1fr [responses] 1fr [right-margin] 1fr;

  p {
    grid-column: responses;
  }
}

.poll-results-buttons {
  display: grid;
  grid-template-columns: [left-margin] 1fr [new-poll-button] 4fr [return-button] 6fr [right-margin] 1fr;
  grid-gap: 0 2%;

  .new-poll-button {
    grid-column: new-poll-button;
  }

  .return-button {
    grid-column: return-button;
  }
}

.close-modal {
  display: grid;
  grid-template-columns: [left-margin] 1fr [button] 2fr [right-margin] 1fr;

  button {
    grid-column: button;
  }
}