<div class="grid-item">
	<a class="btn btn-default big-btn fit course-button" data-method="get" href="/courses/<%= course.id %>"><%= course.name %></a>
	<a class="btn btn-danger big-btn delete-button fa fa-arrow-left" data-method="delete" rel="no-follow" href="/courses/<%= course.id %>">Delete</a>
</div>