<div class="header">
    <span>Add class</span>
</div>

<div class="contents">
    <form id="new-class-form" class="one-item" action="/courses" method="post">
        <div class="form-group">
            <input name="new_course" type="text" placeholder="Enter course code (e.g., ECSE 424)"/>
        </div>
        <button form="new-class-form" id="new-class-button" type="submit" class="btn big-btn btn-default fit">Create new class</button>
    </form>
</div>