<%= render '/partials/nav_bar' %>

<div class="custom-container lecturer-profile">
  <div class="custom-panel lecturer-classes">
    <div class="header">
      <span>Classes</span>
    </div>

    <div class="contents">
      <div class="list class-list">
        <div class="grid-item empty-grid"> (you have no courses) </div>
        
        <% lecturer.courses.each do |course| %>
          <div class="grid-item">
            <%= link_to course.name, course_path(course) + "/course_page", method: :get, class: "btn btn-default big-btn fit course-button" %>
            <%= link_to "", course, method: :delete, class: "btn btn-danger big-btn delete-button fa fa-trash" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="custom-panel create-class">
    <div class="header">
      <span>Add class</span>
    </div>

    <div class="contents">
      <form id="new-class-form" action="/courses" method="post">
        <input name="new_course" type="text" placeholder="Enter course code (e.g., ECSE 424)"/>
        <button id="new-class-button" type="submit" class="btn btn-inverse fit big-btn">Create new class</button>
      </form>
    </div>
  </div>

  <div id="new-class-modal" class="modal fade" role="dialog" style="overflow:hidden; display: none">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-body confirmation">
          <h4 class="center"></h4>

          <p id="modal-message" class="white center"></p>

          <button type="button" class="btn btn-inverse big-btn fit" data-dismiss="modal">
            Okay
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<a id="open-confirmation-modal" class="hidden" data-toggle="modal" data-target="#new-class-modal"></a>