<div id="classes">
  <div class="row"><div class="col-md-12"><span>Classes</span></div></div>
  <div class="separator-sm"></div>

  <div id="class-list">
    <div class="row">
      
      <% lecturer.courses.each_with_index do |course, index| %>
      <% if index % 3 == 0 && index!=0 %>
    </div>
    <div class="separator-sm"></div>
    <div class="row">
      <% end %>
      <div class="col-md-4 big-line">
        <div class="row">
          <div class="col-md-9">
            <a href="/courses/<%=course.id%>/course_page">
              <div class="btn btn-inverse fit big-btn">
                <%= course.name%>
              </div>
            </a>
          </div>
          <div class="col-md-3">
            <form action="/courses/<%=course.id%>/delete" method="post">
              <button type="submit" class="btn btn-danger fit big-btn">X</button>
            </form>
          </div>
        </div>
      </div>
      <% end %>
      <div id="no-courses" class="row" style="<% if lecturer.courses.count > 0 %> display:none; <%end%>"><div class="col-md-12"><h1 class="center"> <i class="arrow">(you have no courses)</i> </h1></div></div>
    </div>
  </div>
</div>

<div class="separator-lg"></div>
<div class="separator-lg"></div>


<div class="row"><div class="col-md-12"><span>Add class</span></div></div>
<div class="separator-sm"></div>

<form id="new-class-form" action="/courses/create" method="post">
  <div class="row">
    <div class="col-md-12 big-line"><input id="new-course-code" name="new_course" type="textarea" placeholder="Enter course code (e.g., ECSE 424)"/></div>
  </div>
  <div class="hidden"><input name="lecturer_id" value=<%=lecturer.id if !lecturer.blank? %>></div>
  <div class="separator-md"></div>
</div>
</form>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 big-line"><button id="new-class-button" type="submit" class="btn btn-inverse fit big-btn">Create new class</button></div>
  <div class="col-md-4"></div>
</div>

<div class="separator-md"></div>

<div id="new-class-modal" class="modal fade" role="dialog" style="overflow:hidden; display: none">
  <div class="modal-dialog modal-sm">
    <div class="modal-content" style="background-color:#4d4c4c; opacity:0.8;">
      <div class="modal-body confirmation" style="height: 350px !important; padding-top: 50px;">"
        <h4 class="center">Error</h4>

        <div class="separator-sm">

        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <p id="modal-message" class="white center"></p>
          </div>
          <div class="col-md-1"></div>
        </div>

        <div class="separator-md"></div>

        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <button type="button" class="btn btn-inverse big-btn fit" data-dismiss="modal">
              Okay
            </button>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<a id="open-confirmation-modal" class="hidden" data-toggle="modal" data-target="#new-class-modal"></a>