<div id="create-account-modal" class="create-account-modal modal fade" role="dialog" modal-backdrop="dynamic">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div id="submission" class="modal-body">
        <form action="/lecturers" method="post">
          <div class="form-group">
            <label for="lecturer[name]">Preferred Name</label>
            <input type="textarea" class="form-control" name="lecturer[name]">
          </div>
          <div class="form-group">
            <label for="lecturer[email]">Email</label>
            <input type="textarea" class="form-control" name="lecturer[email]">
          </div>
          <div class="form-group">
            <label for="lecturer[password]">Password</label>
            <input type="password" class="form-control" name="lecturer[password]">
          </div>
          <div class="form-group">
            <label for="lecturer[password_confirmation]">Confirm Password</label>
            <input type="password" class="form-control" name="lecturer[password_confirmation]">
          </div>
        </form>

        <div class="create-account-button">
          <button id="create-account-button" class="btn btn-default fit" data-dismiss="modal">Create Account</button>
        </div>
      </div>

      <div class="modal-body confirmation" style="display:none;">
        <h4 class="center">Error</h4>

        <p class="modal-message"></p>

        <div id="back" class="close-modal">
          <button class="btn btn-default fit" data-dismiss="modal">Okay</button>
        </div>
      </div>
    </div>
  </div>
</div>