<div id="create-account-modal" class="create-account-modal modal fade" role="dialog" modal-backdrop="dynamic" style="overflow: hidden;">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div id="submission" class="modal-body">
        <form action="/lecturers" method="post">
          <div class="form-group">
            <label for="name">Preferred Name</label>
            <input type="textarea" class="form-control" name="name">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="textarea" class="form-control" name="username">
          </div>
          <div class="form-group">
            <label for="pw">Password</label>
            <input type="password" class="form-control" name="pw">
          </div>
          <div class="form-group">
            <label for="cpw">Confirm Password</label>
            <input type="password" class="form-control" name="cpw">
          </div>
        </form>

        <div class="create-account-button">
          <button id="create-account-button" class="btn btn-default fit" data-dismiss="modal">Create Account</button>
        </div>
      </div>

      <div class="modal-body confirmation" style="display:none;">
        <h4 class="center">Error</h4>

        <p class="modal-message"></p>

        <div id="back" class="close-modal">
          <button class="btn btn-default fit" data-dismiss="modal">Okay</button>
        </div>
      </div>
    </div>
  </div>
</div>