<div class="custom-container">
  <div class="custom-panel course-selection">
    <%= render(partial: "/partials/course_selection_form") %>
  </div>

  <div class="custom-panel lecturer-login">
    <%= render(partial: "/partials/lecturer_login_form") %>
  </div>
</div>

<%= render(partial: '/partials/modal', locals: { body: '/partials/create_account_modal_body', id: 'create-account-modal', include_button: false }) %>
<%= render(partial: '/partials/modal', locals: { body: '/partials/message_modal_body', id: 'message-modal', include_button: true }) %>