<nav class="navbar navbar-fixed-top" style="background-color: none !important; padding-bottom: 15px">
  <div class="container-fluid row">
    <div class="col-md-3">
      <a href="/index">
        <div class="btn btn-inverse fit" style="font-size: 30px; padding-top: 10px; padding-bottom: 10px; padding-right: 10px; opacity: 0.5">
          <i class="icon-arrow-left"></i> Back
        </div>
      </a>
    </div>
    <div class="col-md-6 center">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <a class="navbar-brand" href="/index.html"><h4 style="font-size:50px; padding-top:10px;"> Classroom Friend </h4></a>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</nav>

<div class="separator-lg"></div>
<h2 class="center"><%= message %></h2>