<!DOCTYPE html>
<meta charset="UTF-8">

<html>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': true %>

	<body class="container page-container">
		<div class="box" style="background-color: none !important;">
			<div id="heading">
				<div class="row">
					<div class="col-md-12">
						<a href="/index.html" class="page-header center">
							<h1 style="font-size:100px;">Classroom Friend</h1>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="separator-md"></div>
		
		<%= yield %>
	</body>
</html>