<!DOCTYPE html>
<meta charset="UTF-8">

<html>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': true %>

	<body class="container page-container">
		<a href="/index.html" class="main-header center">
			<h1>Classroom Friend</h1>
		</a>
		
		<%= yield %>
	</body>
</html>