<!DOCTYPE html>

<html>
	<head>
		<meta charset="UTF-8">
		<%= csrf_meta_tags %>
		
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">

		<title>Classroom Friend - Easy student-teacher communication within lectures</title>
	</head>


	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': true %>

	<body class="container page-container">
		<div class="main-header">
			<a href="/index.html" class="center">
				<h1>Classroom Friend</h1>
			</a>
		</div>
		
		<%= yield %>
	</body>
</html>